<%- include('header'); -%>
    <section class="profile">
      <div class="profile-photo" data-aos="fade-up" data-aos-duration="800">
        <img
          src="<%= users[0].image %>"
          alt="profile"
        />
      </div>
      <div class="profile-text">
        <h1 data-aos="fade-up" data-aos-duration="800">Hello</h1>
        <h3 data-aos="fade-up" data-aos-duration="800">A Bit About Me</h3>
        <p data-aos="fade-up" data-aos-duration="800">
         <%= users[0].description %>
        </p>
        <div class="profile-buttons">
          <ul>
            <li>
              <a href="resume"
                ><button
                  class="resume-btn"
                  data-aos="fade-up"
                  data-aos-duration="800"
                >
                  Resume
                </button></a
              >
            </li>
            <li>
              <a href="project"
                ><button
                  class="project-btn"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                >
                  Project
                </button></a
              >
            </li>
            <li>
              <a href="contact"
                ><button
                  class="contact-btn"
                  data-aos="fade-up"
                  data-aos-duration="1600"
                >
                  Contact
                </button></a
              >
            </li>
          </ul>
        </div>
      </div>
    </section>
<%- include('footer'); -%>